body {
    background-color:whitesmoke;
}

.card {
    border: none;
    border-radius: 8px;
    box-shadow: 5px 6px 6px 2px #a3a3c2;
    text-align: center;
    border-radius:25px;

}

.heading {
    font-size: 23px;
    font-weight: 00;
}

.text {
    font-size: 16px;
    font-weight: 500;
    color:black;
}

.pricing {
    border: 1px solid #304FFE;
    border-radius:25px;
    background-color: #f2f5ff;
    width:60%;
    margin-left:300px;
}

.business {
    font-size: 20px;
    font-weight: 500;
   
}

.plan {
    color: #aba4a4;
}

.dollar {
    font-size: 16px;
    color: #6b6b6f;
    
}

.amount {
    font-size: 50px;
    font-weight: 500;
}

.year {
    font-size: 20px;
    color: #6b6b6f;
    margin-top: 19px;
}

.detail {
    font-size: 22px;
    font-weight: 500;
}

.email-text:focus {
    box-shadow: none;
    border: 2px solid #304FFE;
}
#values{
    /* height: 150px; */
    font-size: 26px;
    width:40%;
    background-color:#fff;
    outline:none;
    border-radius:25px;
    margin-left:35%;
    margin-bottom: 100px;
}

#values .submit{
    background-color:green;
    /* height: 100px;
    width: 400px; */
    border-radius:25px;
    cursor:pointer;
    color:white;
    
}
.details input{
border-radius: 25px;
outline: none;
padding-left: 20px;

}

@media(max-width:500px){
    .heading {
        font-size: 16px;
        font-weight: 00;
    }
    .pricing {
        width:60%;
        margin-left:100px;
    }
    }
    @media(max-width:450px){
        .pricing {
            width:60%;
            margin-left:50px;
        }
    }